@media screen and (max-width: 768px) {
  .tong {
    padding: 0px;
  }
  .avatar {
    display: none;
  }
  .nav-sizes {
    padding-left: 20px;
    padding-right: 20px;
  }
  .nav-size {
    border: none;
  }
  .lienhe {
    margin: 0px;
  }

  .container1 {
    grid-template-rows: 500px;
  }
  .container2 {
    width: 100%;
  }
  #target {
    padding-left: 20px;
  }
  #personal-info {
    padding-left: 20px;
  }

  section > .container3 {
    display: grid;
    padding: 0px;
    grid-template-columns: 48% 48%;
    gap: 10px;
    margin: 0 10px;
  }

  .border2 {
    grid-area: 1/ 2/ 2/ 3;
  }
  .border5 {
    grid-area: 2/1/3/2;
  }
  .border1 {
    grid-area: 2/2/3/3;
  }
  .border4 {
    grid-area: 3/1/4/2;
  }
  .border3 {
    grid-area: 3/2/4/3;
    width: 100%;
  }
  #certificate {
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
  }
  .chit {
    display: block;
  }
  #project {
    padding: 20px;
    width: 100%;
  }
  /*Chỉnh sửa phần digital cv*/
  #tonghop {
    display: block;
  }
  .scope {
    display: block;
  }
  .CV1 {
    height: 132px;
  }
  .CV2 {
    height: 83px;
  }
  .CV3 {
    height: 84px;
  }
}
